<div class="w-full">
  <div class="flex justify-between items-center mb-10">
    <h1 class="font-bold text-4xl">Inbox</h1>
    <%= link_to "New message", new_message_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= turbo_stream_from current_user, :inbox %>
  <div id="messages" class="min-w-full">
    <p class="text-center mt-10 hidden only:block"> No messages </p>
    <%= render @messages %>
  </div>
</div>
